<div class="socrata-component component-Container  wallpaper serverRendered notRendered socrata-container" id="home-wallpaper" style="">

  <div class="socrata-component component-Repeater   serverRendered notRendered socrata-container" id="s1" style="" aria-live="polite">

    <div class="socrata-component component-Container  carousel-container serverRendered notRendered socrata-container" id="s7" style="overflow: hidden;">

      <div class="socrata-component component-Container  carousel-slide id-clone serverRendered cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1; display: block; visibility: hidden;">
        <div class="socrata-component component-Text serverRendered" style="visibility: hidden;">
          <div class="content-wrapper  id-s2" style="visibility: hidden;">
            <div class="wallpaper-image" style="background-image: url(https://rally.demo.socrata.com/views/b2pj-jnbg/files/PYX3qoJskx5Oza0yCj0QXAITyML-jXyMEFSnGHGmgew); visibility: hidden;">
              <div class="container" style="visibility: hidden;">
                <div class="wallpaper-content" style="visibility: hidden;">
                  <h1 style="visibility: hidden;">Welcome to Open Data Portal</h1>
                  <p style="visibility: hidden;">Access to public information to facilitate transparency and knowledge</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="socrata-component component-Container  carousel-slide id-clone serverRendered cycle-slide" id="s1-0-clone" style="position: absolute; top: 0px; left: 0px; z-index: 97; opacity: 1; display: block; visibility: hidden;">
        <div class="socrata-component component-Text serverRendered" id="s1-0-s2" style="">
          <div class="content-wrapper  id-s2">
            <div class="wallpaper-image" style="background-image: url(https://rally.demo.socrata.com/views/b2pj-jnbg/files/PYX3qoJskx5Oza0yCj0QXAITyML-jXyMEFSnGHGmgew);">
              <div class="container">
                <div class="wallpaper-content">
                  <h1>Welcome to Open Data Portal</h1>
                  <p>Access to public information to facilitate transparency and knowledge</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="socrata-component component-Container  carousel-slide id-clone serverRendered cycle-slide cycle-slide-active" id="s1-1-clone" style="position: absolute; top: 0px; left: 0px; z-index: 99; visibility: visible; opacity: 1; display: block;">
        <div class="socrata-component component-Text serverRendered" id="s1-1-s2" style="">
          <div class="content-wrapper  id-s2">
            <div class="wallpaper-image" style="background-image: url(https://rally.demo.socrata.com/views/b2pj-jnbg/files/eQd4zkDBZ2qmacB1V5MFfqHoOtAsmXnAm2EJ9CAphgc);">
              <div class="container">
                <div class="wallpaper-content">
                  <% if @editing %>
                    <%= fields_for :properties, @content.accessible_properties do |p| %>
                      <div><%= p.label :title %>: <%= p.text_field :title %></div>
                      <div><%= p.label :sub_title %>: <%= p.text_field :sub_title %></div>
                    <% end %>
                  <% else %>
                    <h1><%= @content.title %></h1>
                    <p><%= @content.sub_title %></p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="loadingSpinnerContainer hide">
      <div class="loadingSpinner minimal"></div>
      <div class="loadingMessage hide"></div>
      <div class="loadingCountdown hide">
        Checking<span class="secondsSection"> in <span class="seconds"></span> seconds</span>...
      </div>
    </div>

  </div>

  <div class="socrata-component component-Text serverRendered notRendered" id="s3" style="">
    <div class="content-wrapper  ">
      <div class="dot-pager">
        <ul class="carousel-pager">
          <li class=""><a href="#">1</a></li>
          <li class="cycle-pager-active"><a href="#">2</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
