<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= render :partial => '/home/head' %>
  </head>
  <body class="controller_custom_content action_custom_content_page locale_en home carousel-enabled">

    <% if @editing %>
      <%= form_for @content do |form| %>
        <div><%= form.submit 'Save' %></div>
        <%= render :partial => '/templates/rally' %>
      <% end %>
    <% else %>
      <%= render :partial => '/templates/rally' %>
    <% end %>

  </body>
</html>
